<!-- <div class="wrapper">
<header class="header">{{player}}</header>
<article class="main">
    <button #clickCounter (click)="click()">{{playerPoints}}</button>
</article>
<footer><button #exit routerLink="/end">Exit!</button></footer>
</div> -->

<div class="wrapper">
    <header class="fixed-header">
        <div id="container-header" class="container">
            <p id="player">{{playerName}}</p>
            <div id="container-points">
                <p>Points: </p>
                <p id="count">{{playerPoints}}</p>
            </div>
        </div>
    </header>
    <article class="main">
        <button #clickCounter (click)="click()">Click me!</button>
    </article>
    <footer class="fixed-footer">
        <div class="container"><button #exit (click)="savePoints()" routerLink="/end/{{playerName}}">Exit!</button>
        </div>
    </footer>
</div>